.album-list {
    display: grid; /* Utilizează grid layout */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Definește coloanele */
    gap: 20px; /* Spațiul între elemente */
}

.album-item {
    text-align: center;
}

.album-item img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
}
